@import '../../scss/breakpoints/breakpoints';
@import '../../scss//variables/variables';

.project {
  width: 100%;
  padding: 150px 8% 0 8%;
  row-gap: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @include desktop {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;  
  }

  &__title {
    @include adaptive-font(60, 38);
    grid-column: 3/8;

    @include desktop {
      font-size: 38px;
    }
  }

  &__excerpt {
    @include adaptive-font(19, 16);
    opacity: 0.7;
    line-height: 24px;
    font-weight: 300;
    grid-column: 10/13;

    @include desktop {
      max-width: 500px;
    }

    @include tablet {
      max-width: 70%;
    }
  }

  &__tags {
    grid-column: 10/13;
  }

  &__tag {
    color: #808080;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;

    a {
      color: #808080;
    }
  }

  &__content {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }

    li {
      @include adaptive-font(19, 16);
      font-weight: 300;
    }
  }
}

