@import '../../scss/breakpoints/breakpoints';
@import '../../scss/variables/variables';

.contact_form {
  padding: 150px 100px 100px 100px;
  max-width: 1920px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: flex-start;
  animation: open .8s ease;
  width: 100%;

  @include tablet {
    padding: 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__title {
    @include adaptive-font(24, 18);
  }

  &__wrapper {
    grid-column: 3/8;

    @include desktop {
      grid-column: 1/9;
    }
  }
}

.form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  &__input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    span {
      opacity: .7;
      padding-left: 20px;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 20px;
    @include adaptive-font(21, 16);
    font-weight: 300;
    outline: none;

    &::placeholder {
      opacity: .5;
    }

    @include desktop {
      padding: 20px;
    }

    &::placeholder {
      color: #000;
    }

    &_checkbox {
      width: auto;
    }
  }

  .container {
    position: relative;
    display: flex;
    column-gap: 20px;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .text {
      z-index: 10;
      padding-top: 5px;
      padding-left: 40px;
    }

    a {
      text-decoration: underline;
      font-weight: bold;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #000;
      opacity: .5;
      transition: all ease .3s;
    }

    &:hover input ~ .checkmark {
      background-color: #fff;
    }

    & input:checked ~ .checkmark {
      background-color: #000;
      opacity: 1;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    & input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    & .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__submit {
    width: fit-content;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    @include adaptive-font(21, 16);
    font-weight: bold;
    padding: 16px 20px;
    transition: all .3s ease;

    &:disabled {
      opacity: .5;
    }

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}