.service-post {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &:hover img {
        transform: scale(1.05);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;
    }

    &__link {
        position: absolute;
        display: grid;
        background-color: rgba(0,0,0, .1);
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all .3s;

        &:hover {
            background-color: rgba(0, 0, 0, .5);
        }
        &:hover>div>h3 {
            text-decoration: underline;
        }


    }

    &__info {
        color: white;
        grid-column: 2/6;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__title {
        @include adaptive-font(36, 28);

    }

    &__excerpt {
        max-width: 250px;
        @include adaptive-font (21, 16);
        font-weight: 100;
    }
}