.logo_header {
  z-index: 1000;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 150px;

  @media screen  and (max-width: 1023px){
    display: none;
  }
}

.logo_footer {
  position: relative;
  display: flex;
  align-items: flex-start;

  img {
    object-fit: contain;
  }
}