@import '../../../scss/breakpoints/breakpoints';
@import '../../../scss//variables/variables';

.wp-block-image {
    display: flex;
    justify-content: center;
  }
  
  .wp-block-columns {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  
    @include desktop {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 50px;
    }
    
    p {
      @include adaptive-font(18, 14);
      opacity: 0.7;
      line-height: 24px;
      font-weight: 300;
  
      @include desktop {
        padding: 0 40px;
      }
  
      @include tablet {
        padding: 0 30px;
      }
    }
  }