@import '../Vendor/normalize.css';
@import '../Vendor/fonts/fonts.css';
@import '../scss/variables/variables';
@import '../scss/breakpoints/breakpoints';
@import '../components/MainSwiper/MainSwiper.scss';
@import '../scss/category.scss';
@import '../components/CategoryList/CategoryList.scss';
@import '../components/NavigationLink/NavigationLink.scss';
@import '../components/Header/Header.scss';
@import '../components/Header/Navigation.scss';
@import '../components/Preloader/Preloader.scss';
@import '../components/ServicePost/ServicePost.scss';
@import '../components/ServicePosts/ServicePosts.scss';

body {
  margin: 0;
  padding: 0;
}

body.popup {
  overflow: unset;
}

body.popup_active {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
  margin: 0;
}

ul,
ol,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.app {
  font-family: 'Gerbera', sans-serif;
  display: flex;
  flex-direction: column;
  column-gap: 50px;
  background-color: #EBEAE8;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  animation: open .8s ease;

  @keyframes open {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__content {
    z-index: 1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    overflow-y: auto;
  }
}

.wp-block-image {
  display: flex;
  justify-content: center;
}

.wp-block-columns {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;

  @include desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  
  p {
    @include adaptive-font(18, 14);
    opacity: 0.7;
    line-height: 24px;
    font-weight: 300;

    @include desktop {
      padding: 0 40px;
    }

    @include tablet {
      padding: 0 30px;
    }
  }
}
