@import '../scss/breakpoints/breakpoints';
@import '../scss/variables/variables';

.not_found {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    row-gap: 50px;

    &__title {
        padding-top: 200px;
        font-size: 80px;
        letter-spacing: 5px;

        @include desktop {
            font-size: 60px;
        }
    }

    &__subtitle {
        text-align: center;

        @include desktop {
            font-size: 20px;
            line-height: 26px;
        }
    }

    @include desktop {
        max-width: 80%;
    }
}