@import '../../scss/breakpoints/breakpoints';
@import '../../scss/variables/variables';

.navlink_arrow{
  grid-area: button;
  position: relative;

  a {
    margin-top: auto;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    max-width: fit-content;
    min-width: 160px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 14px 20px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s linear;

    @media screen and (max-width: 1023px) {
      padding: 10px 15px;
      min-width: 120px;
      font-size: 14px;
    }

    &:hover {
      color: #000;
      background-color: #ebeae8;

      svg {
        opacity: 1;
      }
    }

    svg {
      width: auto;
      height: auto;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-50px, -50%);
      transition: opacity 0.2s linear;
    }
  }
}