@import '../../scss/breakpoints/breakpoints';
@import '../../scss/variables/variables';


.banner_info {
  width: 100%;
  max-width: 1920px;
  padding: 70px 5%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 50px;

  @include desktop {
    padding: 8% 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  @include tablet {
    padding: 8% 30px;
  }

  &__text_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    grid-column: 2/8;

    .text {
      @include adaptive-font(21, 14);
      line-height: 28px;
      font-weight: 300;

      @include desktop {
        line-height: 24px;
      }
    }
  }
  
  &__span {
    grid-column: 9/10;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
  }

  ul {
    grid-column: 10/12;
    display: flex;
    flex-direction: column;

    li {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
    }
  }
};
