@import '../../../scss/variables/variables';
@import '../../../scss/breakpoints/breakpoints';

.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__banner {
        position: relative;
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 600px;
        padding: 150px 100px 100px 100px;
        max-width: 1920px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        row-gap: 100px;

        @include desktop {
            height:fit-content;
            min-height: 200px;
            padding: 60px 100px;
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet {
            padding: 40px;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        max-height: 600px;
        object-fit: cover;

        @include desktop {
            height: 100%;
        }
    }

    &__title {
        grid-column: 3/5;
        @include adaptive-font(60, 38);

        @include desktop {
            grid-column: 1/4;
        }
    }

    &__subtitle {
        grid-column: 3/12;
        @include adaptive-font(36, 28);
        @include adaptive-line(48, 36);
        font-weight: bold;

        @include desktop {
            grid-column: 1/4;
        }
    }

    &__content {
        width: 100%;
        padding: 0px 100px 50px 100px;
        max-width: 1920px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        row-gap: 80px;

        @include desktop {
            padding: 30px;
        }
    }
}

.polygraphy {
    .wp-block-list {
        width: auto;
        row-gap: 10px;

        li {
            padding-left: 20px;
        }

        li:first-child {
            padding-bottom: 0px;
        }
    }
}