

.banner {
  width: 100%;
  position: relative;
  max-height: 450px;
  height: 100vh;

  @media screen and (max-width: 1023px) {
    height: 50vh;
  }

  &__wrapper {
    padding: 100px 100px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .banner__info {
    grid-column: 3/6;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 50px;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      left: 20%;
    }

    @media screen and (max-width: 450px) {
      left: 10%;
    }

    div:hover+h2 {
      text-decoration: underline 4px solid;
      text-underline-offset: 10px;
    }
  }

  h2 {
    color: #000;
    font-size: 60px;
    line-height: 72px;
    max-width: 250px;
    transition: all 0.2s linear;

    @media screen and (max-width: 1023px) {
      font-size: 40px;
      line-height: 44px;
      max-width: 180px;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media screen and (max-width: 1023px) {
      object-position: 50%;
    }

    @media screen and (max-width: 767px) {
      object-position: 65%;
    }
  }
};